<%
  if sort_target == key
    css_class = "sorted #{sort_order == :asc ? 'ascending' : 'descending'}"
%>
<th class="<%= css_class %>"><%= link_to title, { sort: key, order: sort_order == :asc ? :desc : :asc } %></th>
<% else %>
<th><%= link_to title, { sort: key, order: default_order } %></th>
<% end %>
