<div class="ui raised segment">
  <p>自由で公平でオープンなシンデレラガールズDB <%= link_to 'hinapedia', 'https://tottokotkd.gitlab.io/hinapedia/' %> のサブプロジェクト <%= link_to 'hinaserver', 'https://gitlab.com/tottokotkd/hinaserver' %> 成果物みたいなもの</p>
</div>

<h3 class="ui header">
  <i class="settings icon"></i>
  <div class="content">
    hinaserverについて
    <div class="sub header">説明を読んでね</div>
  </div>
</h3>

<a class="twitter-timeline"  href="https://twitter.com/hashtag/hinaserver_desc" data-widget-id="852018059799691267">#hinaserver_desc のツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<div class="ui divider"></div>

<h2 class="ui header">
  全体集計
  <div class="sub header">
    <div class="ui horizontal bulleted list">
      <div class="item">Tweet: <%= Idol.tweet_count %></div>
      <div class="item">Accounts: <%= Idol.user_count %></div>
      <div class="item">Tweet per Account: <%= Idol.tpu_count.round(5) %></div>
      <div class="item">last update: 2017/05/09 21:00</div>
    </div>
  </div>
</h2>

<h3 class="ui header">投票ツイートの推移</h3>
<%= cache "graph1/#{SearchRecord.latest_update_timestamp.to_date}/top" do %>
    <%= high_chart("count", count_chart) %>
<% end %>


<h3 class="ui header">
  <i class="settings icon"></i>
  <div class="content">
    アイドル別の投票ツイート
    <div class="sub header">個別ページに詳細あり</div>
  </div>
</h3>

<table class="ui unstackable sortable compact selectable celled table">
  <%= cache "#{sort_target}/#{sort_order}" do %>
      <thead><tr class="center aligned">
        <%= render partial: 'column_header', locals: { title: 'name', key: :name, default_order: :asc } %>
        <%= render partial: 'column_header', locals: { title: 'tweets', key: :tweet, default_order: :desc } %>
        <%= render partial: 'column_header', locals: { title: 'accounts', key: :account, default_order: :desc } %>
        <%= render partial: 'column_header', locals: { title: 'tweet per account', key: :tw_p_a, default_order: :desc } %>
      </tr></thead>
  <% end %>
  <%= cache "#{SearchRecord.latest_update_timestamp}/#{sort_target}/#{sort_order}" do %>
      <tbody>
      <% @idols.each_with_index do |idol, index| %>
          <tr>
            <td><%= link_to idol.display_name, controller: :idols, action: :show, id: idol.id %></td>
            <td><%= idol.tweet_count %></td>
            <td><%= idol.user_count %></td>
            <td><%= idol.tpu_count.round(3) unless idol.tpu_count.nil? %></td>
          </tr>
      <% end %>
      </tbody>
  <% end %>
</table>

<h3 class="ui header">
  <i class="settings icon"></i>
  <div class="content">
    スポンサー / 製造
    <div class="sub header">お仕事募集中です</div>
  </div>
</h3>

<blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ちょっと今日は例のブツお休みして別のもの作る</p>&mdash; 椎茸くんです (Rails) (@tottokotkd) <a href="https://twitter.com/tottokotkd/status/851600609329389568">2017年4月11日</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">シンデレラガールズ総選挙の投票ツイートを自動集計するアプリを1日で作り上げたのでお仕事をください (なお深夜2時は1日の範囲としてセーフとする)</p>&mdash; 椎茸くんです (Rails) (@tottokotkd) <a href="https://twitter.com/tottokotkd/status/851853940068982785">2017年4月11日</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="ui tertiary segment">
  <p>ソースは<%= link_to 'gitlab', 'https://gitlab.com/tottokotkd/hinaserver' %>で順次公開</p>
</div>

<div class="ui divider"></div>

