<div id="header">
  <%= link_to controller: :top, action: :index do %>
      <h1 class="ui header">
        <i class="settings icon"></i>
        <div class="content">全自動でツイート集計したやつ
          <div class="sub header">15分毎に自動更新するけど何回もアクセスしないで (サーバーが死ぬ)</div>
        </div>
      </h1>
  <% end %>
</div>
